.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContent {
    padding: 20px;
    height: 100px;
    width: 400px;
    background-color: slateblue;
    position: relative;

    input {
      border: 1px solid tomato;
      padding: 10px 15px;
      font-size: 16px;
    }

  }
}