$color1: #F9FAF4;
$color2: #4A6163;
$color3: #F9A66C;
$color4: #FFC94B;
$color5: #F17A7E;
$text-color: #4D4D4D;
$error-color: #d32f2f;

$priority-color-high: red;
$priority-color-middle: orange;
$priority-color-low: lightblue;
$priority-color-default: #4D4D4D;
